
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 27px;
}
h4,h5 {
    margin: 0;
    font-size: 27px;
}

h3{
    font-size: 27px;
}
h5{
    text-transform: uppercase; 
}
h2{
    font-size: 36px;
}
#header,.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}
.container_menu_bars{
    display: none;
}
.menu{
    position: relative;

}
.content,.footer{
    display: flex;
    justify-content: flex-start;
}

.container_content_trai_trai{
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;
}

.container_header{
    background-color: #f47629;
}
#header{
    /* padding: 10px 0; */
    width: 90%;
    margin: 0 auto;
    color: aliceblue;
}

ul li{
    list-style: none;
    margin-left:20px ;
}
.container_content{
    width: 90%;
    margin: 20px auto;
    line-height: 27px; 
}
.container_content_trai{
    width: 80%;
    margin-right: 10px;
}
.img{
    margin-right: 20px;
}
.img>img{
    width: 100%;
    height: 200px;
}

.date{
    margin: 10px 0;
}
.noi_dung{
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    color:   #111;
    font-weight: bolder;
}
.container_content_phai{
    width: 30%;
    color: #222529;
    
}
.categories ul{
    padding: 0;
}
.categories ul li{
    margin: 0;
    height: 30px;
    
}
.categories li:nth-child(-n+5){
    border-bottom: solid  #111 0.5px;
}
i{
    margin-right: 5px;
}
.form {
    border-radius:5px;
    background-color: #f47629;
}
form{
    /* width: 90%; */
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
input{
    border-radius: 5px;
    width: 100%;
    height: 30px;
}
input:nth-child(2){
    margin: 20px 0;
    
}
button{
    background-color:  #111;
    height: 50px;
    color: aliceblue;
    margin: 20px 0;
    border-radius: 5px;
}
.container_footer{
    background-color: #222529;
    
}
.footer{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    color: aliceblue;
    border-bottom: solid #7A7A7A ;


}
.footer p{
    margin: 0;
    margin-top: 10px;
    color: aliceblue;
}

.footer ul{
    width: 45%;
    padding: 0;
    margin-right: 20px;
}
.footer li{
    color: #7A7A7A;
    margin: 10px 0;
    
}
.footer__box li {
    margin: 10px 0;

}
.footer__box li span{
  
    border: solid #7A7A7A .5px;
}
.footer__bottom{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 50px;
    color: #7A7A7A;
}
.subnav{
    text-align: left;
    position: absolute;
    left: -30px;
    width: 100px;
    background-color:#f47629;
    display: none;
    padding: 0;

}
.subnav li{
    margin: 10px;
}
#blog{
    position: relative;
}
#blog:hover >.subnav{
    display: block;
}
#blog:hover >.subnav li:hover a{
    color: aliceblue;
}

.comtainer_input{
    width: 90%;
    margin: 0 auto;
    height: 60px;
}
@media only screen and (max-width: 730px) {
   
    #header .logo_header{
        margin: 0 auto;
         
     }
    .menu{
         display: none;
    }
    .subnav{
        text-align: left;
        position: absolute;
        top: -10px;
        left: -168px;
        width: 150px;
        background-color:#e96320;
        display: none;
        padding: 0;
    
    }
    #blog .subnav li{
        margin: 10px;
    }
    .bars{
        position: relative;
    }
    .container_menu_bars{
        display: block;
    }
    .bars:hover>.menu2{
        /* width: 100px; */
        display: block;
    }
    .menu2{
        text-align: left;
        position: absolute;
        top: 45px;
        left: -115px;
        width: 150px;
        height: 300px;
        background-color:#f47629;
        display: none;
        padding: 0;
    
    }
    .menu2 li{
        font-size: 25px;
        margin-top: 25px;
    }
   
    .container_content_trai{
        width: 100%;

    }
    .container_content_phai{
        
        width: 100%;
    }
    .container_content_trai_trai{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 20px 0;
    }
    .content,.footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

/* @media only screen and (max-width: 768px) {
   
    #header .logo_header{
       margin: 0 auto;
        
    }
    .menu{
      
    }
    .container_content_phai{
        
        width: 100%;
    }
    .container_content_trai_trai{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 20px 0;
    }
    .content,.footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
} */


@media only screen and (max-width: 1024px) {
   
    #header .logo_header{
       margin: 0 auto;
        
    }
    .container_content_phai{
       
        width: 100%;
    }
    .container_content_trai_trai{
        display: flex;
        margin: 20px 0;
    }
    .content,.footer{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}