body {
    margin: 0;
    padding: 0;
    /* height: 5000px; */
    /* font-style: unset; */
}

a {
    color: #000;
    display: contents;
}

/* header menu */
.conttainer-menu {
    height: 60px;
    border-bottom: rgb(223, 223, 223) solid 1px;
    margin-bottom: 30px;
}

.menu {
    max-width: 75%;
    margin: 0 auto;
    height: 60px;
}

.logo-header {
    float: left;
    color: #000;
    /* margin-top: 10px; */
    margin-right: 10px;
    width: 11%;
    font-size: 7px;
    background: url('https://static-znews.zingcdn.me/images/logo-zing-home.svg') no-repeat;
    background-size: 80% 80px;
    height: 90%;
    padding-bottom: 0 !important;
    /* background-position: center; */
}

.container-text-menu {
    display: inline-block;
    height: 100%;
    padding: 0;
    width: 100%;
}
.menu2 .text-menu{
    padding: 0;
}
.container-text-menu li {
    display: inline-block;
    font-weight: bolder;
    padding: 7px 18px 15px 0;
}

.container-text-menu .text-menu {
    margin: 0;
    width: 100%;
}

.container-text-menu .text-menu li:hover:nth-child(-n+8) {
    border-bottom: aqua solid 3px;
}

.menu-right {
    padding-bottom: 0 !important;
    padding-right: 0 !important;
    padding-top: 15px !important;
    float: right;
}

.menu-right ul li {
    font-size: 20px;
}

.menu-right ul li:nth-child(1) a:hover {
    color: aqua;
}

.hover-menu1 {
    position: relative;
}

.hover-menu2 {
    display: block;
}

.hover-menu2 {

    position: absolute;
    display: none;
}

@media only screen and (max-width: 1200px) {
    .logo-header {
        text-align: center;
        float: left;
        color: #000;
        /* margin-top: 10px; */
        margin-right: 10px;
        width: 100%;
        font-size: 7px;
        background: url('https://static-znews.zingcdn.me/images/logo-zing-home.svg') no-repeat;
        background-size: 120px 100%;
        height: 100%;
        padding-bottom: 0 !important;
        background-position: center;
    }

    .container-text-menu {
        position: relative;
    }

    .text-menu {
        position: absolute;
        display: none;
    }

    .menu2 {
        display: block;
    }

    .menu-right {
        position: relative;
        top: -65px;
    }

    .menu-right ul li {
        font-size: 100%;
    }
}
@media only screen and (max-width: 1023px) {
    .menu-right {
        position: relative;
        right: -8%;
    }
}

/*  */
.container-content {
    max-width: 75%;
    margin: 30px auto;
    height: 550px;
}

@media only screen and (max-width: 1023px){
    .container-content {
        max-width: 95%;
        margin: 0 auto;
        height: 550px;
    }
}

/* chứa nội dung bên trái */
.content-left {
    float: left;
    width: 30%;
    height: 550px;
}

.card {
    display: inline-block;
    margin: 0 40px 0 0;
    padding: 10px 0;
    width: 90%;
}

.card:nth-child(1) {
    padding-top: 0;
}

.card:nth-child(-n+4) {
    border-bottom: rgb(223, 223, 223) solid 1px;
}

.card img {
    margin-right: 20px;
    float: left;
    width: 45%;
}

.card p {
    margin: 0 0 0 10px;
    font-weight: bolder;
}

.card:hover a {
    color: rgb(40, 105, 156);
}

/* chứa nội dung bên phải */
.content-right {
    float: right;
    width: 68%;
    height: 550px;
}

.content-right a:hover {
    color: rgb(40, 105, 156);
}

.content-right-left {
    width: 65%;
    float: left;
}

.content-right-left img {
    width: 100%;
}

.content-right-left img,
h1,
ul {
    margin: 0;
}

.content-right-left p {
    font-size: 14px;
}

.content-right-left ul {
    padding-left: 15px;
    font-weight: bolder;
}

.content-right-right {
    width: 33%;
    float: right;
}

.card-right-right {
    margin-bottom: 20px;
    float: left;
    font-size: 15px;
    font-weight: bolder;
}

.card-right-right img {
    width: 100%;
    height: 180px;
}

.card-right-right h3 {
    margin: 5px 0 10px 0;
}

/*  */
.container-multimedia {
    max-width: 80%;
    margin: 0 auto;
    height: 600px;
    /* width: 1150px; */
    background-color: rgb(250, 223, 133);
}

.content-multimedia {
    max-width: 95%;
    width: calc(100%-50px);
    /* height: 550px; */
    padding: 20px 0;
    margin: 0 auto;
    /* display: inline-block; */
}

/* .ul-multimedia ul {
    padding-left: 0;
} */

.ul-multimedia ul li {
    display: inline-block;
    padding: 0 10px;
    font-weight: bolder;
}

.ul-multimedia ul li i {
    /* font-size: 20px; */
    padding-right: 10px;
    color: rgb(225, 60, 41);
}

.ul-multimedia ul li:nth-child(1) {
    font-size: 25px;
}

.ul-multimedia ul li:nth-child(+n+2)>a:hover {
    color: rgb(225, 60, 41);
}

.content-multimedia-left {
    float: left;
    margin-top: 20px;
    width: 50%;
}

.content-multimedia-right {
    float: right;
    margin-top: 20px;
    width: 50%;
}

.card-multimedia-right {
    float: right;
    width: 45%;
}

.card-multimedia-right img {
    height: 150px;
    width: 100%;
}

.card-multimedia-right:nth-child(even) {
    margin-right: 25px;
}

.content-multimedia-left:hover a,
.card-multimedia-right:hover a {
    color: rgb(40, 105, 156);
}

@media only screen and (max-width: 1023px) {

    .container-multimedia {
        max-width: 95%;
        margin: 30px auto;
        height: 1200px;
        /* width: 1150px; */
        background-color: rgb(250, 223, 133);
    }

    .content-multimedia-left {
        float: left;
        margin-top: 20px;
        width: 50%;
    }

    .content-multimedia-left {
        width: 100%;
    }

    .card-multimedia-right:nth-child(even) {
        float: left;
        margin: 0;
    }

    .content-multimedia-right {
        float: left;
        align-items: center;
        /* margin-top: 20px; */
        width: 100%;
    }

    .card-multimedia-right {
        float: right;
        width: 49%;
    }


}

@media only screen and (max-width: 730px) {
    .card-multimedia-right {
        float: right;
        width: 49%;
    }
}

/*  */
.books,
.lifestyle {
    max-width: 1100px;
    margin: 0 auto;
}

.title-books,
.title-lifestyle {
    margin-bottom: 20px;
    border-bottom: rgb(223, 223, 223) solid 1px;
}

.books i,
.lifestyle i,
.conent-ul-two i {
    padding-right: 10px;
    color: rgb(225, 60, 41);
}

.container-books {
    /* border: rgb(170, 170, 170) solid 1px; */
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    font-size: 20px;
    border-radius: 1em;
    /* position: relative;
    left: 15px; */
}

.content-books {
    width: 100%;
    height: auto;
    border: rgb(223, 223, 223) solid 1px;
}

.card-books {
    margin: 10px 0 10px 15px;
    display: inline-block;
    width: 18%;
    font-size: 15px;
    border: rgb(223, 223, 223) solid .5px;
    border-radius: 0.2em;

}

.card-books h3 {
    margin: 3px 0 0 10px;
}

.card-books:hover a {
    color: rgb(40, 105, 156);
}
@media only screen and (max-width: 1023px) {
    .container-books {
        /* border: rgb(170, 170, 170) solid 1px; */
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
/*  */
.container-content2 {
    height: 1550px;
    max-width: 75%;
    margin: 0 auto;
    margin-top: 40px;

}

.content2-left {
    width: 70%;
    float: left;
    height: auto;
    /* border: #000 solid; */
}

.content2-left .card {
    width: 100%;
    margin-left: 0;
}

.content2-left h2 {
    margin-top: 0;
}

.content2-left .card>img {
    width: 40%;
}

.content2-left .card>p {
    font-size: 12px;
    line-height: 20px;
    color: rgb(174, 174, 174);
}

.content2-right {
    width: 26%;
    height: auto;
    float: right;
}

.content2-right a>img {
    width: 100%;
    margin-bottom: 10px;
}

@media only screen and (max-width: 1023px) {
    .container-content2 {
        max-width:1100px;
        width: 95%;
        margin: 0 auto;
        margin-top: 40px;
        position: relative;
    }
    .content2-right {
        position: absolute;
        display: none;
    }
    .content2-left {
        width: 100%;
        float: left;
        height: auto;
        margin-right: 10px;
    }
}
@media only screen and (max-width: 730px) {
    .container-content2 {
        width: 95%;
        margin: 0 auto;
        margin-top: 40px;

    }
    .content2-left .card>img {
        width: 40%;
        float: left;
    }
    .content2-left h2 {
        margin-left: 10px;
    }
    .content2-left {
        width: 100%;
        float: left;
        height: auto;
        margin-right: 10px;
    }
    
}

/*  */
.lifestyle,
.content-lifestyle {
    height: 600px;
}

.content-lifestyle-left {
    float: left;
    width: 70%;
    height: 500px;
    border-right: rgb(223, 223, 223) solid 1px;
    padding-right: 20px;
}

.card-lifestyle-left>h4 {
    margin-top: 5px;
}

.card-lifestyle-left:nth-child(1) {
    float: left;
    width: 63%;
}

.card-lifestyle-left>img {
    width: 100%;
}

.card-lifestyle-left:nth-child(n+2) {
    float: right;
    width: 35%;
}

.card-lifestyle-left h4:hover a,
h2:hover a {
    color: rgb(40, 105, 156);
}

.content-lifestyle-right {
    float: right;
    width: 25%;
}

.card-lifestyle-right {
    width: 100%;
    float: right;
    height: 85px;
    margin-bottom: 20px;
    border-bottom: rgb(223, 223, 223) solid .5px;
    padding-bottom: 20px;
}

.card-lifestyle-right:nth-child(4) {
    border: none;
}

.card-lifestyle-right img {
    width: 30%;
    /* height: 100%; */
    border-radius: 10px;
    float: right;
}

.card-lifestyle-right h4:hover a {
    color: rgb(40, 105, 156);
}

@media only screen and (max-width: 1023px) {

    .lifestyle,
    .content-lifestyle {
        height: 1000px;
        width: auto;
    }

    .lifestyle {
        width: 95%;
        margin: 0 auto;
    }

    .content-lifestyle-left {
        width: 100%;
        height: auto;
        border: none;
        padding: 0;
        margin: 0;
    }

    .card-lifestyle-left:nth-child(1) {
        height: auto;
        float: left;
        width: 65%;
        margin-right: 20px;
    }

    .card-lifestyle-left:nth-child(n+2) {
        float: right;
        width: 30%;
    }

    .content-lifestyle-right {
        margin-top: 50px;
        width: 100%;
        float: left;

    }

    .card-lifestyle-right {
        width: 45%;
        float: left;
        height: 85px;
        margin: 15px;
    }

    .card-lifestyle-right img {
        width: 35%;
        border-radius: 10px;
        float: right;
    }

    .card-lifestyle-right h4 {
        font-size: auto;
        width: 60%;
        margin-top: 0;
        padding: 0 0 20px 0;
    }

    .card-lifestyle-right:nth-child(3) {
        border: none;
    }
}

@media only screen and (max-width: 730px) {

    .lifestyle,
    .content-lifestyle {
        height: auto;
        /* width: 95%;
    margin: 0 auto; */
    }

    .content-lifestyle-left {
        width: 100%;
        height: auto;
        border: none;
        padding: 0;
        margin: 0;
    }

    .card-lifestyle-left:nth-child(1) {
        height: auto;
        float: left;
        width: 100%;
        margin-right: 20px;
    }

    .card-lifestyle-left:nth-child(n+2) {
        float: left;
        width: 48%;
    }

    .card-lifestyle-left:nth-child(3) {
        float: right;
    }

    .content-lifestyle-right {
        margin-top: 50px;
        width: 100%;
        float: right;
        height: auto;
    }

    .card-lifestyle-right {
        width: 100%;
        float: none;
        height: auto !important;
        margin: 0;
    }

    .card-lifestyle-right:nth-child(3) {
        border-bottom: rgb(223, 223, 223) solid .5px;
    }

    .card-lifestyle-right img {
        width: 15%;
        border-radius: 10px;
        float: right;
    }

    .card-lifestyle-right h4 {
        font-size: auto;
        width: 60%;
        margin-top: 10px;
        padding: 0 0 40px 0;
    }
}

/*  */
.container-content-bottom,
.conent {
    /* height: auto; */
    max-width: 1100px;
    width: calc(100%-75px);
    margin: 0 auto;
}

.container-content-bottom .conent {
    /* border-top: #000 solid 2px; */
}

.conent-ul-one {
    width: 100%;
    padding: 0;
    display: inline-block;
}

.conent-ul-one li {
    list-style: none;
}

.conent-ul-one .conent-ul-two {
    padding: 0;
    float: left;
    width: 23%;
}

.conent-ul-two li>h2 {
    font-size: 15px;
}

.conent-ul-one li:nth-child(-n+3) .conent-ul-two {
    padding: 0 25px 0 0;
}

.conent-ul-one .conent-ul-two li:nth-child(n+3) {
    /* height: 70px; */
    padding: 10px 0 30px 0;
    border-top: rgb(223, 223, 223) solid .5px;
}

.conent-ul-one .conent-ul-two h3 {
    margin: 5px 0 0 0;
}

.conent-ul-one .conent-ul-two h5 {
    margin: 0;
}

.conent-ul-one .conent-ul-two li:nth-child(2) img {
    width: 100%;
    height: 130px;
}

.conent-ul-one .conent-ul-two li:nth-child(2) {
    height: 230px;
}

.conent-ul-one li .conent-ul-two li:nth-child(n+3) img {
    margin-right: 10px;
    float: left;
    width: 40%;
}

@media only screen and (max-width: 1023px) {

    /* .container-content-bottom,
    .conent {
        height: auto;
        max-width: 1100px;
        width: 95%;
        margin: 0 auto;
    } */
    .container-content-bottom {
        width: 95%;
        margin: 0 auto;
    }

    .conent-ul-one {
        display: inline-block;
        width: 100%;
    }

    .conent-ul-one li .conent-ul-two {
        width: 45%;
        height: 400px;
    }

    .conent-ul-one .conent-ul-two li:nth-child(2) img {
        float: left;
        height: 100%;
        margin-right: 10px;
        width: 40%;
    }

    .conent-ul-one li .conent-ul-two img {
        width: 30% !important;
    }

    .conent-ul-one .conent-ul-two li>h3 {
        font-size: 13px;
    }

    .conent-ul-one .conent-ul-two li:nth-child(n+2) {
        height: 25%;
        padding: 10px 0 10px 0;

    }

}

@media only screen and (max-width: 730px) {

    .container-content-bottom,
    .conent {
        /* height: auto; */
        max-width: 1100px;
        margin: 0 auto;
    }

    .conent-ul-one {
        display: inline-block;
        width: 100%;
    }

    .conent-ul-one li .conent-ul-two {
        width: 100%;
        height: 400px;
    }

    .conent-ul-one li {
        width: 100%;
        display: inline-block;
    }

    .conent-ul-one .conent-ul-two li img {
        float: left;
        height: 100%;
        margin-right: 10px;
        width: 50%;
    }

    /* .conent-ul-one li .conent-ul-two img {
        width: 30% !important;
    } */

    .conent-ul-one .conent-ul-two li>h3 {
        font-size: 13px;
    }

    .conent-ul-one .conent-ul-two li:nth-child(n+2) {
        height: 25%;
        padding: 10px 0 10px 0;

    }

}

/* footer */
.container-footer {
    background-color: rgb(247, 247, 247);
    height: 200px;
}

.content-footer {
    max-width: 1100px;
    margin: 0 auto;
    /* padding: 20px 0; */
    height: auto;
}

.text-footer1 {
    padding: 0;
    list-style: none;
    line-height: 10px;
    font-size: 12px;
    color: rgb(174, 174, 174);
}

.logo {
    background: url('https://static-znews.zingcdn.me/images/logo-zing-home.svg') no-repeat;
    background-size: 100px 40px;
    height: 40px;
    width: 100%;
}

.text-footer1 {
    width: 50%;
    float: left;
}

.text-footer1:nth-child(2) {
    float: right;
    padding-top: 90px;
    width: 30%;
}

@media only screen and (max-width: 1023px) {
    .content-footer {
        width: 95%;
        margin: 0 auto;
        padding: 20px 0;
    }

    .text-footer1 {
        width: 50%;
    }
}

@media only screen and (max-width: 730px) {
    .container-footer {
        background-color: rgb(247, 247, 247);
        height: 300px;
    }

    .content-footer {
        width: 95%;
        margin: 0 auto;
        padding: 20px 0;
        text-align: center;
    }

    .text-footer1 {
        padding: 0;
        list-style: none;
        line-height: 10px;
        font-size: 12px;
        color: rgb(174, 174, 174);
    }

    .logo {
        background: url('https://static-znews.zingcdn.me/images/logo-zing-home.svg') no-repeat;
        background-size: 100px 40px;
        height: 40px;
        width: 100%;
        background-position: center;
    }

    .text-footer1 {
        width: 100%;
        float: none;
    }

    .text-footer1:nth-child(2) {
        float: none;
        padding-top: 0;
        width: 100%;
    }
}